In [3]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

soma = [sum(i) for i in lista_de_listas]
soma

[24, 10, 16]

In [4]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
ter = [i[2] for i in lista_de_tuplas]
ter

[81, 67, 83]

In [16]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
el = [i[0] for i in lista]
td = list(zip(lista, el))
td

[('Pedro', 'P'), ('Júlia', 'J'), ('Otávio', 'O'), ('Eduardo', 'E')]

In [17]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
ap = [i[1] for i in aluguel if i[0] == 'Apartamento']
ap

[1700, 1400, 1900]

In [18]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
desp = {c: v for c, v in zip(meses, despesa)}
desp

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [19]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
am = [c for c in vendas if c[0] == '2022' and c[1]>6000]
am

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [22]:
gl = list()
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
for c in glicemia:
    if c <= 70:
        gl.append('Hipoglicemia')
    elif 70<c<99:
        gl.append('Normal')
    elif 100<c<125:
        gl.append('Alterada')
    else:
        gl.append('Diabetes')
res = list(zip(glicemia, gl))
res

[(129, 'Diabetes'),
 (82, 'Normal'),
 (60, 'Hipoglicemia'),
 (97, 'Normal'),
 (101, 'Alterada'),
 (65, 'Hipoglicemia'),
 (62, 'Hipoglicemia'),
 (167, 'Diabetes'),
 (87, 'Normal'),
 (53, 'Hipoglicemia'),
 (58, 'Hipoglicemia'),
 (92, 'Normal'),
 (66, 'Hipoglicemia'),
 (120, 'Alterada'),
 (109, 'Alterada'),
 (62, 'Hipoglicemia'),
 (86, 'Normal'),
 (96, 'Normal'),
 (103, 'Alterada'),
 (88, 'Normal'),
 (155, 'Diabetes'),
 (52, 'Hipoglicemia'),
 (89, 'Normal'),
 (73, 'Normal')]

In [25]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
zp = list(zip(quantidade, preco))
total = [x * y for x, y in zp]
tabela = list(zip(id, quantidade, preco, total))
print('ID | QTD |PRECO| TOTAL')
tabela

ID | QTD | PRECO| TOTAL

[(0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]